* {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: "Poppins";
    background: url(./assets/bg.png) no-repeat center center fixed;
    background-size: cover;
  }
  .navbar {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    font-weight: 400;
  }
  .logo {
    width: 7em;
  }
  .line {
    width: 0;
    border-right: 1px solid white;
    height: 70%;
  }
  .list {
    display: flex;
    width: 40vw;
    list-style: none;
    justify-content: space-between;
    padding-right: 20em;
  }
  .list :first-child::after {
    content: "";
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 0.8em;
  }
  .button-small {
    background-color: rgb(211, 9, 218);
    color: #ffffff;
    padding: 0.8em 2em;
    font-weight: 600;
    border-radius: 5px;
  }
  .hero {
    width: 50vw;
    height: 44vh;
    margin: 8em auto;
  }
  .hero-heading {
    color: #ffffff;
    font-size: 4em;
    text-align: center;
    line-height: 1.2em;
  }
  .hero-description {
    color: #ffffff;
    font-size: 1.3em;
    text-align: center;
  }
  .button-large {
    background-color: rgb(211, 9, 218);
    margin: 4em 17em;
    color: #ffffff;
    padding: 0.8em 2em;
    font-weight: 700;
    border: none;
    border-radius: 5px;
  }